/*Yasin Ehsan*/

/*universal css*/
html{
    color: #ff4d4d;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
#tab:hover, #name:hover, #social:hover{
  opacity: 0.6;
}
#mobilebar, #tab, .fa, #plus,
#name, #bullet, .btn:hover,
#bioLinks:hover{
  color: #ff4d4d;
}

/*header*/
#name{
  padding-left: 5%;
  font-size: 250%;
}
#tab{
  font-size: 150%;
}
#pages{
  padding: 0 4% 0 0;
}

/*main*/
main {
  flex: 1 0 auto;
}
#label{
  font-size: 400%;
	color:white;
	border-left: 3px solid;
  padding-left: 3%;
	margin: 3% 0 3% 0.5%;
  font-weight: 100;
}
#content{
  margin: 0 4% 0 4%;
}
#biodiv{
  font-size: 180%;
  float: left;
  padding: 2% 5% 8% 0%;
  color: white;
}
#hi{
  font-size: 300%;
}
#yasin{
  font-size: 150%;
}
.biobold{
  font-style: italic;
  font-weight: 900;
  font-size: 100%;
}
#picdiv{
    overflow: hidden;
}
#pic{
  transform: rotate(-90deg);
  flex-shrink: 0;
  max-width: 200%;
  margin: 5% 0% 0% -45%;
}
#des{
  width:100%;
  word-wrap: break-word;
  padding:0 0% 0 5%;
}
#bullet{
  font-size: 120%;
  font-weight: 900;
  font-style: italic;
}
#des li{
  color: black;
}
#hook{
  color:black;
}


/*footer*/
footer{
  position: static;
  margin: 0 0 0% 0;
  width: 100%;
  padding: 0% 0 1% 0;
  bottom: 0;
}
.fa {
  font-size: 200%;
  width: 10%;
}

/*cover page*/
#particles-js{
  background:black;
  height: 100vh;
}
.btext{
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.8em;
    margin: auto;
}
.btn{
    color: #fff;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover{
    border: #fff 2px solid;
}
.item{
    font-size: 40px;
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    text-indent: .5em;
    padding-bottom: 10%;
}
#one{
  color: #e60000
}
#two{
  color: #ff4d4d;
}
#three{
  color: #ff9999;
}
#create{
  font-weight: 900;
  font-style: italic;
}
/*
HANDY THINGS TO KNOW
-rotating image... transform: rotate(-90deg);
-background img... background-image: url("img/roof2.jpg");
-font: 7 properties(any order) size, font-family;

DUMP
.carousel .carousel-item {
  width:40% !important;
  margin-top: 10%;
}
h2{
  font-size: 300%;
	color:#ff4d4d;
	border-left: 3px solid;
  padding-left: 1%;
	margin: 3% 0 0 5%;
}
*/
