body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#tab:hover, #name:hover, #social:hover{
    opacity: 0.6;
}
#bar{
  background-color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
}
#name{
  color: #ff4d4d;
  padding-left: 5%;
  font-size: 250%;
}
#tab{
  font-size: 150%;
  color: #ff4d4d;
}
#mobilebar{
  color: #ff4d4d;
}
#side{ /*image of me*/
  transform: rotate(-90deg);
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
  position: relative;
  object-fit: cover;
  left:0;
}
#picdiv{
    justify-content: left;
    align-items: left;
    overflow: hidden;
    height:80vh;
}
#bio{
  font-size: 200%;
  width: 50%;
  float: left;
}
.fa {
  font-size: 200%;
  width: 10%;
  color:#ff4d4d;
  padding-bottom: 2%;
}
*{

}

/**/
/*
HANDY THINGS TO KNOW
-rotating image... transform: rotate(-90deg);
-background img... background-image: url("img/roof2.jpg");

*/
