/*Yasin Ehsan*/

/*universal css*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
#tab:hover, #name:hover, #social:hover{
  opacity: 0.6;
}
#mobilebar, #tab, .fa, #plus,
#name, #bullet{
  color: #ff4d4d;
}
/*header*/
#name{
  padding-left: 5%;
  font-size: 250%;
}
#tab{
  font-size: 150%;
}
/*main*/
main {
  flex: 1 0 auto;
  display: flex;
}
#picdiv{
    justify-content: left;
    align-items: left;
    overflow: hidden;
    width:40%;
}
#pic{
  transform: rotate(-90deg);
  flex-shrink: 0;
  max-width: 185%;
  margin: 0% 0% 0% -40%;
}
#biodiv{
  font-size: 180%;
  float: left;
  padding: 2% 5% 8% 5%;
  color: white;
}
#hi{
  font-size: 300%;
}
#yasin{
  font-size: 150%;
}
.biobold{
  font-style: italic;
  font-weight: 900;
  font-size: 100%;
}
#des{
}
#bullet{
  font-size: 150%;
  font-weight: 900;
  font-style: italic;
}

/*footer*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.fa {
  font-size: 200%;
  width: 10%;
  padding-bottom: 2%;
}
/*
HANDY THINGS TO KNOW
-rotating image... transform: rotate(-90deg);
-background img... background-image: url("img/roof2.jpg");
-font: 7 properties(any order) size, font-family;

DUMP
.carousel .carousel-item {
  width:40% !important;
  margin-top: 10%;
}
h2{
  font-size: 300%;
	color:#ff4d4d;
	border-left: 3px solid;
  padding-left: 1%;
	margin: 3% 0 0 5%;
}
*/
