/*Yasin Ehsan*/
/*personal site*/

/*general css...*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#tab:hover, #name:hover, #social:hover, #tab:hover{
    opacity: 0.6;
}

/*header*/
header{

}
#bar{
  font-family: 'Montserrat', sans-serif;
}
#name{
  color: #ff4d4d;
  padding-left: 5%;
  font-size: 250%;
}
#tab{
  font-size: 150%;
  color: #ff4d4d;
}
#mobilebar{
  color: #ff4d4d;
}
/*main*/
main {
  flex: 1 0 auto;
  display: flex;
}
#picdiv{
    justify-content: left;
    align-items: left;
    overflow: hidden;
    width:40%;
}
#pic{
  transform: rotate(-90deg);
  flex-shrink: 0;
  max-width: 185%;
  margin: 0% 0% 0% -40%;
}
#biodiv{
  /*font-size: 200%;*/
  float: left;
  padding: 2% 5% 8% 5%;
  font: 200% 'Montserrat', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
  color: white;
}
#hi{
  font-size: 300%;
}
#yasin{
  font-size: 150%;
}
.biobold{
  font-style: italic;
  font-weight: 900;
  font-size: 100%;
}
/*footer*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.fa {
  font-size: 200%;
  width: 10%;
  color:#ff4d4d;
  padding-bottom: 2%;
}



/*
HANDY THINGS TO KNOW
-rotating image... transform: rotate(-90deg);
-background img... background-image: url("img/roof2.jpg");

*/
