/*Yasin Ehsan*/

/*universal css*/
html{
    color: #ff4d4d;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
#tab:hover, #name:hover, #social:hover{
  opacity: 0.6;
}
#mobilebar, #tab, .fa, #plus,
#name, #bullet{
  color: #ff4d4d;
}
#particles-js{
  background:black;
  height: 100vh;
}
/*header*/
#name{
  padding-left: 5%;
  font-size: 250%;
}
#tab{
  font-size: 150%;
}
/*main*/
main {
  flex: 1 0 auto;
}
#label{
  font-size: 400%;
	color:white;
	border-left: 3px solid;
  padding-left: 3%;
	margin: 3% 0 3% 0.5%;
  font-weight: 100;
}
#content{
  margin: 0 4% 0 4%;
}
#biodiv{
  font-size: 180%;
  float: left;
  padding: 2% 5% 8% 5%;
  color: white;
}
#hi{
  font-size: 300%;
}
#yasin{
  font-size: 150%;
}
.biobold{
  font-style: italic;
  font-weight: 900;
  font-size: 100%;
}
#picdiv{
    overflow: hidden;
}
#pic{
  transform: rotate(-90deg);
  flex-shrink: 0;
  max-width: 150%;
  margin: 20% 0% 0% -20%;
}
#des{
  width:100%;
  word-wrap: break-word;
  padding-right: 10%;
}
#bullet{
  font-size: 150%;
  font-weight: 900;
  font-style: italic;
}

/*footer*/
footer{
  position: static;
  margin: 0 0 0% 0;
  width: 100%;
  padding: 0% 0 1% 0;
  bottom: 0;
}
.fa {
  font-size: 200%;
  width: 10%;
}
/*
HANDY THINGS TO KNOW
-rotating image... transform: rotate(-90deg);
-background img... background-image: url("img/roof2.jpg");
-font: 7 properties(any order) size, font-family;

DUMP
.carousel .carousel-item {
  width:40% !important;
  margin-top: 10%;
}
h2{
  font-size: 300%;
	color:#ff4d4d;
	border-left: 3px solid;
  padding-left: 1%;
	margin: 3% 0 0 5%;
}
*/
